<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application

        android:name=".EcommerceApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_rabbit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_rabbit"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce"
        android:animateLayoutChanges="true">
        <activity
            android:name=".ui.payment.ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emailauth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emailauth.EmailLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.PaymentSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />

    </application>

</manifest>